{% extends "base.html" %}
{% block content %}

<div class="main">
        <br>

    <br>
    <br>
    <br>
        <br>
           <br>
        <br>
    <br>
       <h1 class="text-center subtitle">Write Your Post here</h1>
       
      
    <br>
    <br>
           <h1 class="text-center"><small class="subtitle">The Best Place To Express Your Feelings </small>
       </h1>
    <br>
        <br>
           <br>
        <br>
    <br>
    <br>
   
    
<!-- navbar blue -->


<div class="row" style="
    margin-left: 20px;
    margin-right: 20px;
  font-size: 3.5em;
">



    <form class="col s12" method="post">
      <div class="input-field col s6" style="left: -10px;">
        {% if blog %}
         <input type="hidden" value="{{post_id}}" name ="post_id">
         {% endif %}
         {% if blog %}
          <input id="last_name" type="text" class="validate" value="{{blog.title}}"  name="title" style="font-size: 1.2rem;">
         {% else %}
          <input id="last_name" type="text" class="validate"  name="title" style="font-size: 1.2rem;">
         {% endif %}
          <label for="last_name" style="font-size: 1.2rem;" >Title</label>
        </div>

      <div class="row">
        <div class="input-field col s12" style="
   
    font-size: 2.5em; ">
    {% if blog%}
           <textarea id="textarea1" class="materialize-textarea"  name="article" data-length="10000" style="font-size: 2rem;">{{blog.article}}</textarea>
   {% else %}
           <textarea id="textarea1" class="materialize-textarea"  name="article" data-length="10000" style="font-size: 2rem;">Write your blog here</textarea>
   {% endif %}
           
          <label for="textarea1" style="font-size: 1.2rem;">Textarea</label>
        </div>
      </div>

        <button class="btn waves-effect waves-light" type="submit" style="float: right;" name="action">Submit
    
  </button>
        
    </form>
  </div>
  

</div>
<!-- end main -->

</body>



	
{% endblock %}